@import "utils";

.group-area {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media("<tablet") {
    padding-top: 2rem !important;
    display: block !important;

    section {
      margin: 0 auto !important;
    }
  }

}