@import "utils";

.card-grid {
  width: 100%;

  .wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    @include media("<tablet") {
      justify-content: center;
    }
  }
}