.message-modal-content {
  padding: 4rem 4.0625rem 0 4.0625rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 2rem;
    font-weight: 500;
    color: #c2c2c2;
    text-align: center;

    max-width: 29.125rem;
    margin-bottom: 2.5rem;
  }

  &__textarea {
    display: flex;
    align-self: stretch;
    margin-top: 1.5rem;
    margin-bottom: 1.375rem;
  }

  &__checkbox {
    display: flex;
    align-self: stretch;
  }

  &__footer {
    display: flex;
    margin-top: 2.375rem;
    margin-bottom: 4.1875rem;
    justify-content: center;
    align-self: stretch;
  }

  .divider {
    width: 100%;
    border-top: 0.3px solid #c2c2c2;
    background-color: #c2c2c2;
  }
}

.message-checkbox {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  .label {
    font-size: 1rem;
    color: #c2c2c2;
  }

  .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    .label {
      font-size: 1rem;
      color: #c2c2c2;
      margin-right: .8125rem;
    }

    img {
      width: 1rem;
      height: auto;
    }
  }
}