@import "utils";


.works-page {
  .work-main-section-title-cover {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
  .details-button {
    font-size: 1rem;
    padding-top: 3.5rem;
  }
}
