@import "utils";

.content-tab {
  margin-right: 1rem;

  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
    margin: .5rem;
    color: $oc-gray-6;
  }
  .label-underline {
    text-decoration: underline;
  }

  .label {
    text-decoration: none;
  }

}
