@import "utils";

.author-profile-card {
  margin-bottom: 1rem;

  .wrapper {
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;

    @include media("<tablet") {
      flex-direction: column;
    }
  }

  .thumb {
    @include media("<tablet") {
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
    }
  }

  .profile {
    margin-top: -1rem;
    margin-left: 1rem;
    
    @include media("<tablet") {
      margin-left: 0;
      justify-content: center;
      align-items: center;

      h3 {
        text-align: center;
      }
    }
  }
}