@import "utils";

.author-work-card {
  margin-bottom: 1rem;
  width: 100%;

  .wrapper {
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
  }

  .right {
    display: inline-block;
    width: 60%;
  }

  .left {
    margin-left: 5rem;
    display: inline-block;
    width: 30%;
  }
}
