@import "utils";

.author-work-card {
  margin-bottom: 1rem;

  .wrapper {
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper__left {
  }

  .wrapper__right {
    margin-left: 2rem;
  }
}
