@import 'utils';

.message-page {
  background-color: white;
  min-height: calc(100vh - 3rem);

  display: flex;
  flex-direction: column;

  header {
    background-color: white;
    height: 2.9375rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 8rem;

    .filter-table {
      display: flex;
      justify-content: center;
      align-items: center;
      .filter {
        font-size: 1rem;
        color: #c2c2c2;
        margin-right: 2.125rem;
      }
    }
  }
  .divider {
    width: 100%;
    border-top: 0.3px solid #c2c2c2;
    margin: 0;
  }
  .container {
    padding: 0 8rem;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;

    height: 100%;

    .message-list-container {
      background-color: $oc-gray-4;
      align-self: stretch;
    }
    .message-detail-container {
      flex: 1;
      padding: 2.625rem 1rem 0 1rem;
    }
  }
}