@import 'utils';

$vp: 1.4375rem;
$hp: 1.5rem;

.message-card {
  padding: $vp $hp;
  border: solid .3px $oc-gray-1;
  position: relative;
  background-color: white;

  h1 {
    font-size: 1rem;
    color: $oc-gray-4;
  }
  h2 {
    font-size: 1rem;
    color: $oc-gray-3;
    margin-top: -10px;
  }

  .date {
    position: absolute;
    top: $vp;
    right: $hp;
    width: 2.875rem;

    font-size: .5rem;
    color: $oc-gray-3;
  }

  .content {
    margin-top: 1rem;
    p {
      font-size: .75rem;
      color: $oc-gray-4;
      line-height: 1.1875;
    }
  }
}
