@import "utils";

.profile-tab {
  margin-right: 3rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  color: $oc-gray-6;

  h2 {
    text-decoration: underline;
  }

  p {
    margin-top: -1rem;
    font-size: 2.3rem;
    font-weight: 700;
  }
}
