@import "utils";

.profile-tab {
  margin: 0 3rem;
  cursor: pointer;

  h2 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin: .5rem;
    color: $oc-gray-6;
  }
  .label {
    text-decoration: underline;
  }

  .count {
    font-size: 2.3rem;
    font-weight: 700;
  }
}